

<web-app vxmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>com.curtisnewbie.HomeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <!--  Define filter name -->
    <filter>
        <filter-name>LogFilter</filter-name>
        <filter-class>com.curtisnewbie.LogFilter</filter-class>
        <!-- We can give it initial parameters -->
        <init-param>
            <param-name>DBName</param-name>
            <param-value>MySql</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>CompressFilter</filter-name>
        <filter-class>com.curtisnewbie.CompressFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CompressFilter</filter-name>
        <url-pattern>*.gzip</url-pattern>
<!--         <servlet-name>Home</servlet-name>-->
    </filter-mapping>

    <!-- Map the filter to a url pattern or servlet -->
    <filter-mapping>
        <filter-name>LogFilter</filter-name>
        <url-pattern>*</url-pattern>
        <!-- <servlet-name></servlet-name> -->
    </filter-mapping>

</web-app>
